nav
    ul
        li
          a(href='/main') Home
        li
          a(href='/contact') Contact Form
        li
          a(href='/testimonies') Testimonies
        li
          a(href='/admin/contactlog') Contact Log
        li
          input#themeBtn(type='button', value='Theme')