doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link#stylesheet(href='/resources/css/main.dark.css', rel='stylesheet')
    script(src='/resources/js/main.js')
    script(src='/resources/js/contact.js')
    title Planet Express, Inc.
  body
    include nav.pug
    h1 Schedule a Consultation
    h2 your appointment has been booked